name: Build and publish documentation

# Controls when the action will run.
on:
  push:

jobs:
  build:
    # Triggers the workflow on on tag pushes
    # Be sure to add tag rulesets to ensure only admins can push tags
    if: startsWith(github.ref, 'refs/tags/')
    name: Build distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - run: python3 -m pip install --upgrade pip
      - run: pip install sphinx sphinx_rtd_theme myst_parser nbsphinx sphinx-copybutton
      - run: sphinx-apidoc -o docs/source qstone 
      - run: sphinx-build -M html docs/source/ docs/build/  

      - name: Commit documentation changes
      - run: |
        git clone https://github.com/your_git/repository.git --branch gh-pages --single-branch gh-pages
        cp -r docs/build/html/* gh-pages/
        cd gh-pages
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git commit -m "Update documentation" -a || true
        # The above command will fail if no changes were present, so we ignore
        # the return code.
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          branch: gh-pages
          directory: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}

